.head {
    .face {
        .nose {
            width: 45px; 
            height: 45px; 
            background-color: red; 
            position: absolute; 
            top: 50px; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            border-radius: 100%; 
            border: 1px solid black; 
            transition: all 2s;
            .noseball {
                position: absolute; 
                width: 15px;
                height: 15px; 
                background-color: #fff; 
                border-radius: 100%; 
                top: 5px; 
                left: 5px;

            }
            &:hover {
                width: 35px; 
                height: 35px;
            }
        }
        .mustaches {
            position: relative; 
            width: 300px; 
            height: 30px;
            .mustache-left {
                display: flex; 
                flex-direction: column; 
                position: absolute; 
                top: -30px; 
                left: 38px; 
                gap: 27px;
                .mustache {
                    &:nth-child(1) {
                        width: 70px; 
                        height: 1px; 
                        background-color: black; 
                        transform: rotate( 6deg ); 
                        transition: all 1s;
                        &:hover {
                            transform: rotate( -2deg );
                        }
                    }
                    &:nth-child(2) {
                        width: 70px; 
                        height: 1px; 
                        background-color: black; 
                        transform: rotate( -1deg );
                    }
                    &:nth-child(3) {
                        width: 70px; 
                        height: 1px; 
                        background-color: black; 
                        transform: rotate( -10deg );
                    }
                }
            }
            .mustache-right {
                display: flex; 
                flex-direction: column; 
                position: absolute; 
                top: -30px; 
                right: 38px; 
                gap: 27px;
                .mustache {
                    &:nth-child(1) {
                        width: 70px; 
                        height: 1px; 
                        background-color: black; 
                        transform: rotate( -6deg ); 
                        transition: all 1s;
                        &:hover {
                            transform: rotate( 2deg );
                        }
                    }
                    &:nth-child(2) {
                        width: 70px; 
                        height: 1px; 
                        background-color: black; 
                        transform: rotate( 1deg );
                    }
                    &:nth-child(3) {
                        width: 70px; 
                        height: 1px; 
                        background-color: black; 
                        transform: rotate( 10deg );
                    }
                }
            }
        }
    }
}